body, html {
  margin: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.main-footer {
  background-color: #f9f9f9;
  color: #000;
  text-align: center;
  padding: 20px;
}


.footer-container {
  max-width: 1000px; 
  margin: 0 auto;
}

.footer-info h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.footer-info p { 
  font-size: 1rem;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .support-title {
    font-size: 60px;
  }
}
