.main-footer {
  background-color: #f9f9f9;
  color: #000;
  text-align: center;
  padding: 20px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
  
}

.footer-container {
  max-width: 1000px; 
  margin: 0 auto;
}

.footer-info h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.footer-info p { 
  font-size: 1rem;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .support-title {
    font-size: 60px;
  }
}
