<header class="main-header">
  <div class="container-header">
   
    <div class="logo">
      <h1>MODALE &amp; Co</h1>
    </div>

   
    <div class="menu-social-wrapper">

      <nav class="nav-menu">
        <ul>
          <li><a href="#inicio">INICIO</a></li>
          <li><a href="#servicios">CATÁLOGO</a></li>
          <li><a href="#especiales">CARRITO</a></li>
        </ul>
      </nav>

      <div class="social-icons-header">
        <a href="https://www.facebook.com/profile.php?id=61568465109559" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://chat.whatsapp.com/CwSlKhnI884H4zJFP7Snxr?mode=ems_wa_t" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="support-section">
  <div class="support-content">
    <h2 class="support-title">MODALE</h2>
    <p> Bienvenida/os, aquí podrás encontrar productos, accesorios, detalles y más</p>
  </div>
</div>

<div class="tools-grid">
  <p>PRODUCTOS RECIEN LLEGADOS</p>
  <div class="tool-card">
    <h3>SERÚM 24K</h3>
    <img src="./assets/Serum2.png" alt="Serum 24K" class="product-image">
    <a href="#">FIND OUT MORE</a>
  </div>
  <div class="tool-card">
    <h3>FRAGANCIA</h3>
    <img src="./assets/Fragancia.png" alt="Fragancia" class="product-image">
    <a href="#">FIND OUT MORE</a>
  </div>
  <div class="tool-card">
    <h3>CALCETAS NIKE</h3>
    <img src="./assets/calcetas.png" alt="Calcetas Nike" class="product-image">
    <a href="#">FIND OUT MORE</a>
  </div>
  <div class="tool-card">
    <h3>BLUSH</h3>
    <img src="./assets/blush.png" alt="Blush" class="product-image">
    <a href="#">FIND OUT MORE</a>
  </div>
  <div class="tool-card">
    <h3>GLOSS</h3>
    <img src="./assets/gloss.png" alt="Gloss" class="product-image">
    <a href="#">FIND OUT MORE</a>
  </div>
  <div class="tool-card">
    <h3>PRENDEDORES</h3>
    <img src="./assets/pinzas.png" alt="Prendedores" class="product-image">
    <a href="#">FIND OUT MORE</a>
  </div>
</div>
