<main>
  <div class="support-section">
    <div class="support-content">
      <h2 class="support-title">MODALE</h2>
      <p>Bienvenida/os, aquí podrás encontrar productos, accesorios, detalles y más</p>
    </div>
  </div>

  <!-- 🔥 RECIÉN LLEGADOS -->
  <h2 class="recent-title">Recién llegados 💫</h2>

  <div class="tools-grid">
    <div class="tool-card" *ngFor="let prod of nuevosRotados">

      <img [src]="prod.imagen || './assets/no-image.png'"
           alt="{{ prod.nombre }}"
           class="product-image">

      <h3>{{ prod.nombre }}</h3>

      <p class="rating-desc">{{ prod.descripcion }}</p>

      <span class="price">${{ prod.precio }} C/U</span>
    </div>
  </div>

  <!-- 🔥 POPULARES -->
 <!-- 🔥 POPULARES -->
<h2 class="recent-title popular-title">Productos Populares 🔥</h2>

<div class="popular-products-section">
  <div class="tools-grid">

    <div class="tool-card best-seller" 
         *ngFor="let prod of popularesRotados">

      <img [src]="prod.imagen || './assets/no-image.png'"
           alt="{{ prod.nombre }}"
           class="product-image">

      <h3>{{ prod.nombre }}</h3>
      <p class="product-desc">{{ prod.descripcion }}</p>
      <span class="price">${{ prod.precio }} C/U</span>

    </div>

  </div>
</div>

</main>
