<section class="support-section">
  <div class="support-content">
    <h1>MODALE</h1>

  </div>

</section>
 <section class="tools-section">
    <h1>PRODUCTOS RECIENTES</h1>
    <p>
      "Lo último en tendencia para tí"
    </p>

    <div class="tools-grid">
      <div class="tool-card">
         <i class="fas fa-lock"></i>
            <h3>SERÚM 24K</h3>
              <img src="./assets/Serum2.png" alt="Serum 24K" class="product-image">
                 <a href="#">FIND OUT MORE</a>
    </div>
            <div class="tool-card">
               <i class="fas fa-lock"></i>
                  <h3>FRAGANCIA</h3>
                    <img src="./assets/Fragancia.png" alt="Serum 24K" class="product-image">
                     <a href="#">FIND OUT MORE</a>
      </div>

      <div class="tool-card">
               <i class="fas fa-lock"></i>
                  <h3>CALCETAS NIKE</h3>
                    <img src="./assets/calcetas.png" alt="Serum 24K" class="product-image">
                     <a href="#">FIND OUT MORE</a>
      </div>


       <div class="tool-card">
               <i class="fas fa-lock"></i>
                  <h3>BLUSH</h3>
                    <img src="./assets/blush.png" alt="Serum 24K" class="product-image">
                     <a href="#">FIND OUT MORE</a>
      </div>

       <div class="tool-card">
               <i class="fas fa-lock"></i>
                  <h3>GLOSS</h3>
                    <img src="./assets/gloss.png" alt="Serum 24K" class="product-image">
                     <a href="#">FIND OUT MORE</a>
      </div>

      <div class="tool-card">
               <i class="fas fa-lock"></i>
                  <h3>PRENDEDORES</h3>
                    <img src="./assets/pinzas.png" alt="Serum 24K" class="product-image">
                     <a href="#">FIND OUT MORE</a>
      </div>
    </div>
  </section>
