*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.support-section {
  width: 100%;
  background: url('/assets/banner/HomePage.png') no-repeat center;
  background-size: cover;

  text-align: center;
  padding: 60px 30px; 
  color: #ffffff;
  position: relative;
  margin-top: 70px; /* evita que el header tape el contenido */
}

.support-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.support-content {
  position: relative;
  z-index: 1;
}

.support-title {
  font-family: "Playwrite DE SAS", cursive;
  font-size: 80px;
  margin-bottom: 20px;
}

.support-section p {
  font-size: 20px;
  margin-bottom: 30px;
}

.recent-title {
  font-size: 30px;
  text-align: center;
  margin: 50px 0 20px;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 20px;
  width: 100%;
  padding: 0 20px;
}

.tool-card {
  background: #ffffff; 
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 420px;
   border: 1px solid #dcdcdc;
}

.tool-card:hover {
  box-shadow: 0 4px 12px rgba(7, 15, 246, 0.1);
  transform: translateY(-3px);
}

.tool-card h3 {
  font-size: 22px;
  margin: 10px 0 5px;
}

.tool-card a, 
.tool-card .price {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.tool-card .product-image {
  width: 100%;
  height: 250px;           /* ✔ más alto */
  object-fit: contain;       /* ✔ asegura que siempre llene el espacio */
  object-position: center; /* ✔ centra la imagen */
  border-radius: 12px;
  background-color: #ffffff; /* ✔ por si la imagen es muy pequeña */
}


.popular-products-section {
  width: 100%;
  background-color:#ffffff; 
  padding: 20px 20px 80px;
  margin-bottom: 0;
}

.popular-title {
  background-color: #ffffff; 
  padding: 20px 0;
  border-radius: 15px 15px 0 0;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  color: #000;
}
