.content-admin {
  margin-left: 220px;
  padding: 0;
}

.products-section {
  padding: 4rem 6%;
  background: #ffffff;
  min-height: 100vh;
 font-family: "Arial", sans-serif;
   color: #333;
}

.filters-inline {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 20px;
  flex-wrap:  nowrap;

}

.filter-inline-item {
  display: flex;
  flex-direction: column;
}

.filter-inline-item label {
  margin-bottom: 4px;
  font-weight: 500;
  color: #444;
}

.filter-inline-item select,
.filter-inline-item input {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #a98181;
  font-size: 14px;
  color: #444;
  background: transparent;
  min-width: 180px;
}


.table-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #2c2c2c;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}


.table-container {
  overflow-x: auto;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.06);
  padding: 2rem;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
}

.products-table th,
.products-table td {
  padding: 1rem;
  border-bottom: 1px solid #f0e6eb;
  text-align: center;
}

.products-table th {
  background-color: #fff8fb;
  font-weight: 600;
  color: #b67b9a;
  border-bottom: 2px solid #e3b1c8;
}

.products-table tbody tr:hover {
  background-color: #fff3f9;
  transform: scale(1.01);
}

/* Imagen */
.product-img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #f2d7e3;
}

/* Botones */
.actions button {
  margin: 0 6px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s;
}

.edit-btn .material-icons {
  color: #b67b9a;
}

.edit-btn:hover .material-icons {
  color: #e3b1c8;
}

.delete-btn:hover .material-icons {
  color: #e63946;
}

.no-products {
  text-align: center;
  font-style: italic;
  color: #777;
  margin-top: 2rem;
}
