<!-- Hero / Banner -->
<section class="hero">
     <div class="hero-content">
       <h1>Bienvenido a ModAle</h1>
       <p>✨️ Bienvenida/os, aquí podrás encontrar productos, accesorios, detalles y más ✨️</p>
       <button routerLink="/productos">Ver productos</button>
     </div>
   </section>
   
   <!-- Sección de servicios -->
   <section class="features">
     <h2>Nuestros Servicios</h2>
     <div class="features-grid">
       <div class="feature-card">
         <h3>Servicio 1</h3>
         <p>Descripción breve.</p>
       </div>
       <div class="feature-card">
         <h3>Servicio 2</h3>
         <p>Descripción breve.</p>
       </div>
     </div>
   </section>
   
   <footer class="footer">
     <p>Síguenos en nuestras redes:</p>
     <div class="social-icons">
       <a href="https://www.facebook.com/profile.php?id=61568465109559" target="_blank" class="social-link">
         <img src="assets/Facebook.png" alt="Facebook" class="social-icon">
         <span>Facebook</span>
       </a>
       <a href="https://wa.me/521234567890" target="_blank" class="social-link">
         <img src="assets/WhatsApp.png" alt="WhatsApp" class="social-icon">
         <span>WhatsApp</span>
       </a>
       <a href="https://www.instagram.com/ModAleOficial" target="_blank" class="social-link">
         <img src="assets/Instagram.png" alt="Instagram" class="social-icon">
         <span>Instagram</span>
       </a>
     </div>
   </footer>   