<section class="catalogo">
  <h2>COMPRAR POR CATEGORÍA</h2>
  <div class="categorias">
    <div
      class="categoria"
      *ngFor="let categoria of categorias"
      (click)="irACategoria(categoria)"
    >
      <div class="imagen-categoria">
        <img [src]="categoria.imagen" />
      </div>
      <p>{{ categoria.nombre }}</p>
    </div>
  </div>
</section>
<section class="anuncios-dobles-completos">
  <!-- Banner 1: Perfumes -->
  <div class="anuncio-banner" [routerLink]="['/categoria', 'perfumes']">
    <div class="anuncio-contenido">
      <h4>-25% EN PERFUMES</h4>
      <p>USA EL CÓDIGO <strong>AROMA123</strong></p>
      <button class="btn-comprar">Compra Ya</button>
    </div>
  </div>

  <!-- Banner 2: Primera compra -->
  <div class="anuncio-banner" [routerLink]="['/categoria', 'nuevo']">
    <div class="anuncio-contenido">
      <h4>15% DE DESCUENTO EN TU PRIMERA COMPRA</h4>
      <p>Aplica automáticamente en el carrito</p>
      <button class="btn-comprar">Compra Ya</button>
    </div>
  </div>
</section>
