<div class="header-admin" [class.open]="menuAbierto">

  <!-- BOTÓN HAMBURGUESA -->
  <button class="hamburger" (click)="menuAbierto = !menuAbierto">
    <span></span><span></span><span></span>
  </button>

  <!-- LOGO -->
  <div class="logo">
    <a routerLink="/" class="brand">MODALE & Co</a>
  </div>

  <!-- MENÚ -->
  <nav class="nav-links">

    <a routerLink="/admin/reportes" class="nav-item">
      <span class="material-icons">inventory_2</span>
      <span class="item-text">Reportes</span>
    </a>

    <a routerLink="/admin/inicio" class="nav-item">
      <span class="material-icons">home</span>
      <span class="item-text">Pedidos</span>
    </a>

    <a routerLink="/admin/agregar-producto" class="nav-item">
      <span class="material-icons">add_circle</span>
      <span class="item-text">Agregar productos</span>
    </a>

    <a routerLink="/admin/products-table" class="nav-item">
      <span class="material-icons">inventory_2</span>
      <span class="item-text">Inventario</span>
    </a>

    <button class="logout-icon-btn nav-item" (click)="logout()">
      <span class="material-icons">logout</span>
      <span class="item-text">Salir</span>
    </button>

  </nav>
</div>
