<div class="header-admin">
  <!-- LOGO -->
  <div class="logo">
    <a routerLink="/" class="brand">MODALE & Co</a>
  </div>

  <!-- MENÚ DASHBOARD -->
 <nav class="nav-links">
    <a routerLink="/admin/inicio" class="nav-item">
      <span class="material-icons">home</span>
      INICIO
    </a>
    <a routerLink="/admin/agregar-producto" class="nav-item">
      <span class="material-icons">add_circle</span>
      AGREGAR PRODUCTOS
    </a>
    <a routerLink="/admin/products-table" class="nav-item">
      <span class="material-icons">inventory_2</span>
      INVENTARIO
    </a>
    <a routerLink="/admin/reportes" class="nav-item">
      <span class="material-icons">inventory_2</span>
      REPORTES
    </a>
  </nav>
</div>
