<div class="header-admin">
  <!-- LOGO -->
  <div class="logo">
    <a routerLink="/" class="brand">MODALE & Co</a>
  </div>

  <!-- MENÚ DASHBOARD -->
 <nav class="nav-links">
    <a routerLink="/admin/reportes" class="nav-item">
      <span class="material-icons">inventory_2</span>
      Reportes
    </a>
    <a routerLink="/admin/inicio" class="nav-item">
      <span class="material-icons">home</span>
      Pedidos
    </a>
    <a routerLink="/admin/agregar-producto" class="nav-item">
      <span class="material-icons">add_circle</span>
      Agregar productos
    </a>
    <a routerLink="/admin/products-table" class="nav-item">
      <span class="material-icons">inventory_2</span>
      Inventario
    </a>
    <button class="logout-icon-btn" (click)="logout()"></button>
  <!--<a routerLink="/admin/admin-user" class="nav-item">
      <span class="material-icons">inventory_2</span>
      Usuarios
    </a> -->
  </nav>
</div>
