<header class="main-header">
  <div class="container-header">
    <!-- LOGO -->
    <div class="logo">
      <a routerLink="/product-catalog" class="logo-link">
        <h1>MODALE &amp; Co</h1>
      </a>
    </div>

    <!-- MENÚ DE NAVEGACIÓN -->
    <nav class="nav-menu">
      <ul>
        <li><a routerLink="/product-catalog" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/catalogo" routerLinkActive="active">Catálogo</a></li>
        <li><a routerLink="/carrito" routerLinkActive="active">Carrito</a></li>
      </ul>
    </nav>

    <!-- RED SOCIAL -->
    <div class="social-icons-header">
      <a href="https://www.facebook.com/profile.php?id=61568465109559" target="_blank" rel="noreferrer">
        <i class="fab fa-facebook-f"></i>
      </a>
    </div>
  </div>
</header>
