<header class="main-header">
  <div class="container-header">
    <div class="logo">
      <a [routerLink]="['/product-catalog']" class="logo-link"> 
        <h1>MODALE & Co</h1>
      </a>
    </div>

    <div class="menu-social-wrapper">
      <nav class="nav-menu">
        <ul>
          <li><a routerLink="/catalogo">CATÁLOGO</a></li>
          <li><a routerLink="/carrito">CARRITO</a></li>
        </ul>
      </nav>

      <div class="social-icons-header">
        <a href="https://www.facebook.com/profile.php?id=61568465109559" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </div>
</header>