<h1 class="title">Mis pedidos</h1>

<div class="orders-table-container" *ngIf="pedidos.length === 0">
  <p>No tienes pedidos registrados.</p>
</div>

<div class="orders-table-container" *ngIf="pedidos.length > 0">
  <table class="orders-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Estado</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of pedidos">
        <td>{{ p.id_pedido }}</td>
        <td>{{ p.fecha | date:'medium' }}</td>
        <td>${{ p.total }}</td>
        <td>
          <span class="status" [ngClass]="p.estado.toLowerCase()">
            {{ p.estado }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
