.productos {
  text-align: center;
  padding: 50px;
}

.lista-productos {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.producto {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
